h1 {
  color: rgb(17, 39, 58);
}

body {
  color: #444444;
  background-color: bisque;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;

  margin: 7rem;
  padding: 0;
  text-align: center;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  text-align: left;
}

.img {
  width: 200px;
}

.alert-success {
  color: green;
}

.alert-danger {
  color: red;
}